.my_aside {
    height: calc(100vh - 58px);
    width: 75px;
    background-color: #051e34;
}

.my_main {
    width: calc(100vw - 75px);
    height: calc(100vh - 58px);
    overflow-y: auto;
}

.my_topbar {
    background-color: #1b72e8;
}

.fa-solid.fa-bell {
    color: #ff8f00;
}

.my_btn {
    background-color: #165bba;
    border: 0px;
}

.next_class {
    background-color: #f7f7f7;
}

th img {
    width: 25px;
}

.my_input input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

@media screen and (min-width: 992px) {
    .my_aside {
        width: 150px;
    }

    .my_main {
        width: calc(100% - 150px);
    }
}